header{
    text-align: center;
    margin:40px;

    img{
        width: 180px;
    }

    h1{
        margin: 1rem;
        font-size: 3rem;
        color: #21272A;
    }

    input{
        width: 40%;
        padding: 8px;
        border: none;
        border-radius:5px ;
        font-size: 0.9rem;
    }

}